# .coveragerc
[run]
source = .

[report]
omit =
    */migrations/*
    */tests/*
    */settings.py
    */manage.py
    */apps.py
    */wsgi.py
    */asgi.py
    # Add other files or directories you want to omit
